*.mat
*.pdf
*.nwb
*.wav
*.csv
*.pkl
myvenv/
save/
csv_files/
__pycache__/
Spectrogram_all_Channels/
PCA_plot/

# Latex
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.maf
*.mtc
*.mtc0
*.nlo
*.lot
*.mtc1
*.mtc10
*.mtc11
*.mtc12
*.mtc13
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.mtc7
*.mtc8
*.mtc9
*.lof
*.toc
*.nlg
*.nls