*.mat
*.pdf
*.nwb
*.wav
*.csv
*.pkl
myvenv/
save/
csv_files/
__pycache__/
Spectrogram_all_Channels/
PCA_plot/
Python_code/Read_mat_file_and_Plot/six_kinematic_variable_prediction_with_firing_rate/position_data
Python_code/Read_mat_file_and_Plot/six_kinematic_variable_prediction_with_firing_rate/velocity_data
Python_code/Read_mat_file_and_Plot/six_kinematic_variable_prediction_with_firing_rate/acceleration_data
# Latex
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.maf
*.mtc
*.mtc0
*.nlo
*.lot
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.mtc7
*.mtc8
*.mtc9
*.mtc10
*.mtc11
*.mtc12
*.mtc13
*.mtc14
*.mtc15
*.mtc16
*.mtc17
*.lof
*.toc
*.nlg
*.nls
